<!doctype html>
<html lang="en">

	{% include "components/head.njk" %}

	<body class="bg-dark">
		
		{{ layoutContent | safe }}

		<script src="static/js/sal.js"></script>
		<script>
			sal();
		</script>
	</body>
</html>
