<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<main class="d-grid h-100 v-100 center-items">
			{{ layoutContent | safe }}
		</main>
	</body>
</html>
