<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="d-grid center-items">
		{{ layoutContent | safe }}
	</body>
</html>
